toggle_dark_mode        <f8>
fit_to_page_height      <f9>
fit_to_page_width       <f10>
fit_to_page_width_smart <f11>
toggle_fullscreen       <f12>

next_page               J
next_page               <C-d>
previous_page           K
previous_page           <C-u>

zoom_in                 +
zoom_out                -

keyboard_overview       <S-f>
