# The color with which the screen is cleared before rendering the pdf
background_color    0.2 0.2 0.2
dark_mode_background_color    0.1 0.1 0.1

# Displays an overview of destination when hovering over a link with mouse (no need to right click)
hover_overview	0

# Configure the appearance of page separator
page_separator_width 10
page_separator_color	0.1 0.1 0.1
